@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,body>div{
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Amatic SC',sans-serif;
  background-color: #141414;
  color:aliceblue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
